#canvas{
	position:relative;
	left:15%;
}
.box{
	display:inline-block;

	background-color:rgba(0,0,0,0.5);
	position:absolute;;
	top:20%;
	right:16%;
	border-radius:30px;
	width:20%;
	
}
.btn{
	display:block;
	margin:20px;
}
